<div th:fragment="menu" class="header-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav id="nav-section">
        <div class="link-logo">Pay My Buddy</div>
        <ul class="links-container">
            <li class="links"><a th:href="@{/transfert}">Transférer</a></li>
            <li class="links"><a th:href="@{/profil}">Profil</a></li>
            <li class="links"><a th:href="@{/relation}">Ajouter relation</a></li>
            <li class="links"><a th:href="@{/logout}">Se déconnecter</a></li>
<!--            <li class="links">-->
<!--                <form th:action="@/{logout}" method="post">-->
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
<!--                    <button type="submit">Se déconnecter</button>-->
<!--                </form>-->
<!--            </li>-->
        </ul>
    </nav>
</div>
