<div th:fragment="menu" class="header-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav id="nav-section">
        <div class="link-logo">Pay My Buddy</div>
        <ul class="links-container">
            <li class="links"><a th:href="@{/transfert}">Transférer</a></li>
            <li class="links"><a th:href="@{/profil}">Profil</a></li>
            <li class="links"><a th:href="@{/relation}">Ajouter relation</a></li>
            <li class="links"><a th:href="@{/logout}">Se déconnecter</a></li>
        </ul>
    </nav>
</div>
