body {
    margin: 0 auto;
    padding: 0 30px;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    position: relative;

}

.header-container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px 0;
    position: fixed;
    top:0;
}

#nav-section {
    width: 100%;
    display: flex;
    align-items: center;
 }
.link-logo {
width: 50%;
}

.links-container {
    width: 100%;
    display:flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
}
.links-container a {
    text-decoration: none;
}

.links {
    margin: 0 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.message {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.form-row {
    display: flex;
    width: 50%;
    margin: 5px;
}

.title-row {
    width: 20vw;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin: 0 20px 0 0;
}

.btn-validate {
   padding: 10px 20px;
   margin: 5px;
   color: white;
   background: orange;
   font-size: 16px;
   border-radius: 8px;
    position: relative;
    top: 0px;
    left: 170px;
}

.input-profil {
    width: 30vw;
    padding: 0;
    border: none;
    background: none;
    text-align:left;
}

