body {
    margin: 0 auto;
    padding: 0 30px;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: helvetica;
    position:relative;
}
.header-container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 60px 0;
    position: fixed;
    top:0;
}
#nav-section {
    width: 100%;
    display: flex;
    align-items: center;
 }
.link-logo {
width: 50%;
}

.links-container {
    width: 100%;
    display:flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
}
.links-container a {
    text-decoration: none;
}

.links {
    margin: 0 10px;
}


.form-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 60px 0;
}
.relations-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text-relation {
    width:350px;
    text-align: left;
    font-size: 12px;
    padding: 10px 0;
    font-weight: 600;
}

#btn-validate {
  padding: 10px 20px;
  margin: 5px;
  color: white;
  background: orange;
  font-size: 16px;
  border-radius: 8px;
}

#input-add-relation {
    width:350px;
    padding: 10px 20px;
    border-radius: 5px;
    border:1px solid lightgrey;
    padding: 10px 5px;
}

.message {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
