<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/connexion.css}"/>
</head>
<body>

<form class="main-container" th:action="@{/connexion}" method="post">
    <button class="button btn-buddy">Pay My Buddy</button>
    <input type="text" placeholder="Mail" name="username" class="input-connexion" required>
    <input type="password" placeholder="Mot de passe" name="password" class="input-connexion" required>
    <button class="button btn-validate" type="submit">Se connecter</button>
    <button class="button btn-inscription" type="button"
            th:onclick="|window.location='@{/inscription}'|">
        S'inscrire
    </button>

</form>

<!-- Afficher un message d'erreur si échec -->
<div th:if="${param.error}">
    <p style="color: red;">Couple mail / mot de passe incorrect.</p>
</div>

</body>
</html>