<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/connexion.css}"/>
</head>
<body>
<div class="main-container">
    <button class="button btn-buddy" >Pay My Buddy</button>
    <input type="text" placeholder="Mail" class="input-connexion">
    <input type="text" placeholder="Mot de passe" class="input-connexion">
    <button class="button btn-validate" >Se connecter</button>
</div>
</body>
</html>