<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/css/inscription.css}"/>
</head>
<body>
<form th:action="@{/connexion}" method="post" class="main-container">
    <button class="button btn-buddy" >Pay My Buddy</button>
    <input type="text" name="username" placeholder="username" required class="input-inscription" />
    <input type="email" name="email" placeholder="email" required  class="input-inscription"/>
    <input type="password" name="password" placeholder="mot de passe" required class="input-inscription" />
    <button class="button btn-validate" type="submit" >S'inscrire</button>
    <div th:if="${param.error}">Email ou mot de passe invalide</div>
</form>
</body>
</html>




