<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/css/inscription.css}"/>
</head>
<body>
<form th:action="@{/inscription}" method="post" class="main-container">
    <div class="button btn-buddy" >Pay My Buddy</div>
    <input type="text" name="username" placeholder="Username" required class="input-inscription" />
    <input type="email" name="email" placeholder="Mail" required  class="input-inscription"/>
    <input type="password" name="password" placeholder="Mot de passe" required class="input-inscription" />
    <button class="button btn-validate" type="submit" >S'inscrire</button>
    <div th:if="${param.error}">Email ou mot de passe invalide</div>

    <button class="button btn-connexion" type="button"
            th:onclick="|window.location='@{/connexion}'|">
        Déjà inscrit
    </button>
</form>
</body>
</html>




