<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/profil.css}"/>
</head>
<body>
<div th:replace="~{fragments/menu :: menu}"></div>
<form class="form-section" th:action="@{/profil}" method="post">

    <div class="form-row">
        <div class="title-row">Username</div>
        <input type="text" th:value="${user.username}" name="username" class="input-profil">
    </div>
    <div class="form-row">
        <div class="title-row">Mail</div>
        <input type="email" th:value="${user.email}" name="email" class="input-profil">
    </div>
    <div class="form-row">
        <div class="title-row">Mot de passe</div>
        <input type="password" th:value="${user.password}" placeholder="••••••••" name="password" class="input-profil">
    </div>

    <button class="btn-validate" type="submit">Modifier</button>
</form>

<!-- Afficher un message de succès si réussite -->
<div th:if="${param.success}" class="message">
    <p style="color: green;">Informations du profil modifiées avec succès.</p>
</div>
<!-- Afficher un message d'erreur si échec -->
<div th:if="${param.error}" class="message">
    <p style="color: red;">Une erreur est survenue.</p>
</div>

</body>
</html>