<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/transfert.css}"/>
</head>
<body>
<div class="header-container">
    <div class="link-logo">Pay My Buddy</div>
    <div class="links-container">
        <div class="links">Transférer</div>
        <div class="links">Profil</div>
        <div class="links">Ajouter relation</div>
        <div class="links">Se déconnecter</div>
    </div>
</div>
</body>
</html>